*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    position: relative;
    padding: 20px;
    font-family: sans-serif;
    background:linear-gradient(to right,#d9edf7,#bdbef0); 

}
.main-box{
width:50% ;
 display: flex;
 flex-direction: column;
 align-items: center;
 background-color: white;
 border-radius: 5px;
 padding: 30px 50px;
 gap: 40px;
}

.pass-box{
 display: flex;
 width: 100%;
 position: relative;
}

.result-box{
    width: 100%;
    height:50px;
    background:linear-gradient(to right,#d9edf7,#bdbef0); 
    font-size: larger;
    font-weight: 700;
    display: flex ;
    align-items: center;
    padding: 10px;
}

button{
    position: absolute;
    padding: 10px;
    top: 10%;
    right: 2%;
    background-color: #18d53a;
    color: white;
    font-size: 14px;
    border: none;
    border-radius: 5px;
}
.slider-box{
    display: flex;
    gap: 10px;
}

.checkbox{
    display: flex;
    gap: 20px;
}
.information{
    display: flex;
    width: 45%;
    gap: 5%;
}
.box{
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}
ul{
    display: flex;
    flex-direction: column;
    gap: 10px; 
    list-style-position:inside;
    padding: 10px;
}

